#reviewbox{
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    z-index:100000;
    background-color: #fff;
    border:1px solid #b3b3b3;
    padding: 7px 10px 10px 20px;
}
#popupworkingarea{
    padding: 0px 10px 0px 0px;
}

